@import "tailwindcss";

@theme {
  --color-brand-teal: #008080;
  --color-brand-dark: #111111;
  --color-brand-accent: #260e1b;
  --color-brand-light: #f5f7fa;

  --font-sans: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes ken-burns {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.animate-ken-burns {
  animation: ken-burns 20s ease-out infinite alternate;
}